:root {
    /* candidates for global definition (for AI generated colors) */
    --color-ref-view-text: #727272;
    --color-ref-view-inline-heading: #4e4e4e;
    --color-sub-caption: #727272;

    /* local definitions */
    --titlebar-height: 2.5rem;
    --titlebar-font-size: 1rem;

    /*--grid-color-light: var(--bs-gray);*/
    --grid-color-light: #c1c1c1;
    --height-ref-view-wikitext: 7.5rem;

    /*--width-col-url: 25rem;*/
    /*--width-col-status: 25rem;*/
    --width-col-url: 27.5rem;
    --width-col-status: 4.5rem;
    /*--width-col-iabotdb-status: 6rem;*/

    --spacing-heading-top: 1rem;
    --color-hilite: var(--bs-primary-rgb);
    --color-lolite: #a2a2a2;
    --color-bg-editable: white;
    /*--color-bg-non-editable: #e5ecf2;*/
    --color-bg-non-editable: hsl(208 11% 95% / 1);

    --margin-ref-view-section:1.515rem;
    --margin-ref-view-section-tight:.5rem;

    /*--border-box-actionable: 3pt solid #ae0f3c !important;*/
    /*--border-box-actionable: 3pt solid #dc295c !important;*/
    --border-box-actionable-color: hsl(358 81% 67% / 1);
    --border-box-actionable: 3pt solid var(--border-box-actionable-color) !important;

    --border-radius-ref-section:0.35rem;


    --width-ref-view-list: 17rem;
    --height-ref-view-list-caption: 6.2rem;  /* TODO make this dynamic with resize */

    --width-url-list-refview: 55rem;
    --width-url-name-refview: 26rem;


}

.ref-modal-overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    z-index: 100;
}

.ref-modal-container {
    max-width:80vw;
    max-height:80vh;
    /*max-width:1000px;*/
    /*max-height:650px;*/

    width:100%;
    height:100%;
    position:fixed;

    top: 50%;
    left:50%;

    /*transform: translate( -50%, -50%);*/

    background-color: #ffffff;

    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;

    overflow: scroll;
}

.modalRight {
    width:100%;
}


.ref-view {
}

.ref-view-title-bar {
    /*background-color: #565e64;*/
    /*background-color: #c54ba5;*/
    min-height:var(--titlebar-height);
    max-height:var(--titlebar-height);
    cursor:move;
    background: linear-gradient(to right, #005db1, #00a5e0);
    /* TODO AIARE make "dark-title-bar-bg programmed element */
}
.ref-view-title-bar h2 {
    display:flex;
    flex-direction: row;
    color:white;
    /* TODO AIARE make "dark-title-bar-fg programmed element */
    font-weight:bold;
    font-size: var(--titlebar-font-size);
    padding: .5rem 0 .3rem .85rem;
}
.ref-view-title-bar .closeBtn {
    position:fixed;
    top:.65rem;
    right:.85rem;
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.67);
    border:1px solid black;
    padding: 0.05rem 0.3rem;
    border-radius:6px;
}
.ref-view-title-bar .closeBtn:hover {
    color:red;
}

.ref-view-contents {
    overflow:scroll;
    /*padding:0.5rem .85rem .85rem .85rem;*/
    padding:0.5rem;
    padding-left:.35rem;
    color:black;

    /*background-color: #6e1a41;*/
}
.ref-view-contents h3 {
    font-weight:bold !important;
    color:#aaaaaa !important;
    margin-bottom: 0;
}
.ref-view-contents {
    display:flex;
    flex-direction: row;
    background-color: var(--g-color-body-bg);
}

.ref-view-list {
    flex-shrink:1;
}
.ref-view-details {
    flex-shrink:1;
    width:100%;
    margin-left: .75rem;
    margin-right: .35rem;
    overflow: scroll;
}


/* Templates section of ref view details */

.ref-view-templates {
    /*background-color: #5EDFABFF;*/
    /*margin-bottom: var(--margin-ref-view-section)*/
}
.ref-view-template {
    margin-top: .8rem;
}
.ref-view-template:first-of-type {
    margin-top: inherit;
}

.ref-view-template h3 .utility-button.small-button {
    font-size:62%;
    position: relative;
    top: 1pt;
    background-color: #e0e0e0;
}
.ref-view-template h3 .utility-button.small-button:hover {
    background-color: #c7c5c5;
    /*color: #808080;*/
}
.ref-view-templates .template-header {
    display: inline-block;
}
.ref-view-templates .nav {
    display: inline-flex;
    margin-left:.75rem;
    margin-bottom: 0.3rem !important;
}
.ref-view-templates .nav-item button {
    padding: 0.15rem 1rem 0.25rem;
    /*padding: calc(1.5 * var(--bs-nav-link-padding-y)) var(--bs-nav-link-padding-x);*/
}
.ref-view-templates .nav-item .nav-link {
    border:1px solid var(--bs-nav-link-color);
}


.ref-view-templates .param-row {
    display: flex;
    flex-direction: row;
    border:1px solid;
    border-color: var(--grid-color-light);
    border-top:none;
    position:relative;
}
.ref-view-templates .param-row:first-child {
    border-top:1px solid;
    border-color: var(--grid-color-light);
}
.ref-view-templates .param-row > div {
    padding:.1rem .25rem;
}

.ref-view-templates .param-name {
    border-right: 1px solid var(--grid-color-light);
    color:dimgray;
}
.ref-view-templates .param-value {
    overflow-wrap: break-word;
}



/* ref view wikitext */

.ref-view-wikitext {
    margin-top:.5rem;
    /*background-color: var(--color-debug-background);*/
}

.ref-view-details .header-all-parts {
    position:relative;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
    margin-bottom:.35rem;


    /*background-color: #a188ae;*/
}

.ref-view-section {
    margin-bottom: var(--margin-ref-view-section);
}
.ref-view-section:first-of-type .header-all-parts {
    margin-top:0;
}
.ref-view-wikitext .header-all-parts button.utility-button {
    margin-bottom:0;
    height:1.1rem;
    font-size: .6rem;
    line-height: .7;
}
.ref-view-wikitext .header-left-part
{
    display: flex;
    flex-direction: row;
    position: relative;
}

.ref-view-wikitext .raw-wikitext {
    font-size: .85rem;
    color: #808080;
    background-color: var(--color-bg-non-editable);
    overflow-wrap: break-word;
    overflow: scroll;
    height: var(--height-ref-view-wikitext);
    margin-bottom:0;
    padding:.28rem .35rem;
    width:100%;
    border-radius: var(--border-radius-ref-section);
}
.ref-view-wikitext .raw-wikitext.editable {
    background-color: var(--color-bg-editable) !important;
}

/*.ref-view .row.footer  {*/
/*    position:absolute;*/
/*    bottom:0;*/
/*    right:0;*/
/*}*/
/*.ref-view .row.footer button {*/
/*    color:blue !important;*/
/*    width:5rem;*/
/*}*/


@media screen and (max-width: 500px) {
    .ref-modal-container {
        flex-direction: column;
        top:0;
        left:0;
        transform:none;
        width:100%;
        height: 100vh;
    }

    /* and transform other elements for responsive */
}


.ref-note-alert {
    color: red;
    background-color: #b9cbc3;
    font-style:italic;
    font-size:1.25em;
    padding:.5rem;
    border-radius: .5rem;
}

.link-status-tooltip {
    font-size:1.25em;
    font-weight:normal;
    z-index: 999;
}

.row.ref-view-actions {
    margin-top:1rem;
}

.ref-view-url {
    /*border:var(--border-box);*/
    /*padding:.5rem;*/
    margin-top:.25rem;
}
.ref-view-url p {
    margin-bottom: 0;
}

.ref-view-url .ref-view-url-header {
    /*display: none;*/
}
.ref-view-url .url-row
{
    display: flex;
    flex-direction: row;
    border:1px solid black;
    border-radius: .5rem;
    position:relative;
}
.ref-view-url .url-row .url-name {
    width: var(--width-url-name-refview);
    min-width: var(--width-url-name-refview);
    max-width: var(--width-url-name-refview);
    flex-shrink: 1;
    flex-grow: 1;
}
.ref-view-url .url-row.url-header-row {
    border-top: 1px solid black;
    background-color: var(--g-color-list-header-bg);
    color: var(--g-color-list-header-fg);
}
.ref-view-url .url-header-row .url-name,
.ref-view-url .url-header-row .url-status,
.ref-view-url .url-header-row .url-archive_status,
.ref-view-url .url-header-row .url-iabot_status,
.ref-view-url .url-header-row .url-citations,
.ref-view-url .url-header-row .url-templates,
.ref-view-url .url-header-row .url-sections,
.ref-view-url .url-header-row .url-perennial
{
    padding-top: .15rem !important;
    padding-bottom: .15rem !important;
}
.ref-view-url .url-row.no-template-url {
    padding: var(--padding-url-column)
}


.ref-view-urls .url-row
{
    display: flex;
    flex-direction: row;
    border:1px solid black;
    border-radius: var(--border-radius-ref-section);
    position:relative;
    cursor: inherit;
}
.ref-view-urls .url-row:hover {
    color:inherit !important;
    background-color: inherit !important;
}

.ref-view-urls .url-row .url-name {
    width: var(--width-url-name-refview);
    /*min-width: var(--width-url-name-refview);*/
    /*max-width: var(--width-url-name-refview);*/
    min-width: inherit;
    max-width: inherit;
    flex-grow: 1;
}

.ref-view-actionables {
    /*margin-bottom: var(--margin-ref-view-section);*/
    /*border: var(--border-box-light);*/
}
.ref-view-actionables .ref-view-actionable {
    border: var(--border-box-actionable);
    border-radius: .5rem;
    padding:.25rem .35rem;
}


.ref-view-actionables.no-action {
    /*color: #c8c8c8 !important;*/
    color: #a7a7a7 !important;
    border: var(--border-box-light);
    border-color: #c8c8c8;
}
.ref-view-actionables.no-action h3 {
    color: inherit !important;
    font-style:italic;
}
.ref-view-actionables .ref-view-actionable {
    margin-top:.1rem;
    font-size:.85rem;
    font-weight: normal;
    color: var(--color-ref-view-text);
    line-height: 1.5;
}
.ref-view-actionables .ref-view-actionable .inline-heading {
    color: var(--color-ref-view-inline-heading);
}
.ref-view-actionables .ref-view-actionable .action-fixit > div {
    display:inline;
}
.ref-view-actionables .ref-view-actionable .action-desc {
}
.ref-view-actionables .ref-view-actionable .action-fixit {
}
.ref-view-actionables .ref-view-actionable .action-symptom {
}

.ref-view-actionable-caption {
    /*text-align: left;*/
    /*text-transform: uppercase;*/
    /*letter-spacing: .2rem;*/
    font-style: italic;
    font-size: .85rem;
    font-weight: bold;
    padding-bottom: .2rem;
    color: var(--color-sub-caption);
}

.ref-view-parameters {
    margin-top:.2rem;
}

.ref-view-article-info {
}
.ref-view-article-info .citation-links {
    margin-top:.2rem;
    /*margin-left:.85rem;*/
    display:flex;
}
.ref-view-article-info .citation-links button {
    margin-bottom:0;
    height:1.15rem;
    font-size:100% !important;
}
.ref-view-article-info .citation-links button:first-of-type {
    margin-left:0;
}
.ref-view-article-info .article-info {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;

    margin-top: 0.25rem;
}
.ref-view-article-info .article-info .header-right-part {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content: space-between;
}

/* visual caption display of reference */
.reference-info {
    /*border: var(--border-box-light);*/

    /*border-bottom: var(--border-box-light);*/

    /*margin-bottom: var(--margin-ref-view-section);*/
    /*margin-bottom: var(--margin-ref-view-section-tight);*/

    /*margin-bottom: .75rem;*/

    /*padding: .5rem;*/
    /*padding-bottom: 0;*/
    padding:0;
}

.ref-view-single-display {
    /*margin-bottom: var(--margin-ref-view-section-tight);*/
}
.ref-view-single-display .ref-button {
    /*min-height: 2rem;*/
    margin-bottom:0;
    /*min-height: 6.4rem;*/
    border-radius: var(--border-radius-ref-section);
}

.ref-view-single-display .ref-meta {
    border-top: var(--border-row);
    margin-top:.25rem;
    padding-top:.25rem;
}

.ref-button-wrapper {
    /*display:flex;*/
    /*flex-direction:row;*/
    /*flex-wrap:wrap;*/
    /*justify-content: space-between;*/
    /*margin-top:.5rem;*/
    display: flex;
    flex-direction: column;}

/* uncategorized */

.cite-display-info {
    font-weight: bold;
    border-top: var(--border-row);
    margin-top:.35rem;
    padding-top: .25rem;
    /*color: #4957b8*/
}
.cite-display-info .lolite {
    /*color: var(--color-lolite)*/
    color: #a2a3a9
}
.cite-display-extra span {
    margin-right: .35rem;
}

.ref-view-list .ref-flock {
    width: var(--width-ref-view-list);
    max-width: var(--width-ref-view-list);
    height:100%;
}

.ref-list-navigation {
    margin-top:.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;

}

.ref-nav-icon-next,
.ref-nav-icon-prev {
    width:0.9rem;
    cursor: pointer;
}
.ref-nav-icon-next {
    /*float:right;*/
    content: url('../../../images/arrow_right.svg');
}
.ref-nav-icon-prev {
    /*float:left;*/
    content: url('../../../images/arrow_left.svg');
}

.ref-view-list .ref-list {
    padding-top: .15rem;
    /*padding-top: 3px;*/
    margin-top: -3px;
    height:100%;
}

.ref-view-list .ref-button {
    background-color: var(--g-color-reference-display-bg);
    color: var(--g-color-reference-display-fg);

    /* allow room for frame hilite */
    margin-left:3px;
    margin-right:3px;
    width:calc(100% - 6px);
    margin-bottom: .4rem;
}

.ref-view-list .flock-box-contents {
    padding:.33rem .13rem .33rem .13rem;
    /*height: calc(100% - 145px);*/
    /*height: calc(100% - 6.2rem);*/
    height: calc(100% - var(--height-ref-view-list-caption));
    margin-top: .3rem;
}
.ref-view-list .ref-button.selected {
    /*background-color: #e3ebf9; !* hsl(222 77% 92% / 1); *! !* #d3def8; *!*/
    background-color: var(--g-color-reference-display-selected-bg);

    /*width: 22rem;*/
    /*border: 3px solid #0966a4;*/
    outline: 3px solid #0966a4;
}

/*** ***/
/*** ***/
/*** ***/
/*** boneyard (things that dont seem to be used - could delete eventually ***/
/*** ***/
/*** ***/
/*** ***/


.ref-view-actions {
    /*background-color: darkcyan;*/
}

.ref-view-actions button {
    width: 100%;
    padding:.75rem 0;
    margin-bottom:.5rem;
    /*font-size:1rem;*/
    /*background-color: var(--button-color-blue)*/
}

.ref-list-navigation .ref-nav-info {
    color: #333333;
    font-weight:normal;
    font-size:.75rem;
}

.ref-view-list .flock-box-caption {
    border-radius: var(--border-radius-ref-section);
    /*height: var(--height-ref-view-list-caption);*/
    margin-left:3px;
    margin-right:3px;
    width:calc(100% - 6px);
    margin-bottom: .35rem;
}
.ref-view-list .flock-box-contents {
    border:none;
    padding:0;
    background-color: inherit;
}

