:root {
    /*--grid-color-light: var(--bs-gray);*/
    --grid-color-light: #c1c1c1;
    --height-raw-display: 6rem;

    /*--width-col-url: 25rem;*/
    /*--width-col-status: 25rem;*/
    --width-col-url: 27.5rem;
    --width-col-status: 4.5rem;
    --width-col-iabot-status: 6rem;

    --spacing-heading-top: 1rem;
    --color-hilite: var(--bs-primary-rgb)
}

.ref-modal-overlay {
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    height:100%;
    z-index: 100;
}

.ref-modal-container {
    max-width:1000px;
    max-height:650px;
    width:100%;
    height:100%;
    position:fixed;
    top: 50%;
    left:50%;
    transform: translate( -50%, -50%);
    /*background-color: #f1eaea;*/
    /*background-color: #e8edfc;*/
    background-color: #ffffff;

    box-shadow: 0px 0px 18px 0px rgba(0,0,0,0.75);

    display: flex;
    flex-direction: column;

    overflow: scroll;
}

.modalRight {
    width:100%;
}

.closeBtn {
    position:fixed;
    top:.85rem;
    right:.85rem;
    cursor: pointer;

    /*background-color: deepskyblue;*/
    border:1px solid black;
    padding: 0.3rem 0.4rem;
}
.closeBtn:hover {
    color:red;
}

.ref-view {
    padding:.85rem;
    color:black;
}

.ref-view .ref-view-header {
    border-bottom:4px solid var(--color-hilite)
}

.ref-view .ref-view-header h2 {
    font-weight:bold;
}
.ref-view .ref-view-header.test-display h2 {
    color:red !important;
}

.ref-view .ref-origin-link {
    font-size:.85rem;
    color:darkgrey;
    position:relative;
    top:.36rem;
}
.ref-view .ref-origin-link a {
    color:darkgrey;
}

.ref-view-actions {
    /*background-color: darkcyan;*/

}
.ref-view-actions button {
    width: 100%;
    padding:.75rem 0;
    margin-bottom:.5rem;
    /*font-size:1rem;*/
    /*background-color: var(--button-color-blue)*/
}
.ref-view-stats {
    margin-top:2rem;
}


.ref-view-content {
    min-height: 21rem;
}

/* Templates section of ref view details */

.ref-templates {
    /*background-color: darkseagreen;*/
}
.ref-templates .templates-header {
    display: inline-block;
}
.ref-templates .nav {
    display: inline-flex;
    margin-left:.75rem;
    margin-bottom: 0.3rem !important;
}
.ref-templates .nav-item button {
    padding: 0.15rem 1rem 0.25rem;
    /*padding: calc(1.5 * var(--bs-nav-link-padding-y)) var(--bs-nav-link-padding-x);*/
}
.ref-templates .nav-item .nav-link {
    border:1px solid var(--bs-nav-link-color);
}


.ref-templates .param-row {
    display: flex;
    flex-direction: row;
    border:1px solid;
    border-color: var(--grid-color-light);
    border-top:none;
    position:relative;
}
.ref-templates .param-row:first-child {
    border-top:1px solid;
    border-color: var(--grid-color-light);
}
.ref-templates .param-row > div {
    padding:.1rem .25rem;
}

.ref-templates .param-name {
    border-right: 1px solid var(--grid-color-light);
    color:dimgray;
}
.ref-templates .param-value {
    overflow-wrap: break-word;
}

.ref-view-link-status {
    margin-top: var(--spacing-heading-top);
}


/* URL section of ref view details*/

.ref-view-urls-wrapper {
    margin-top: var(--spacing-heading-top);
    position:relative;
    width:100%;
    /*max-width:80%;*/
}

.ref-view-urls { /* the table */
    position:relative;
    width:100%;
}
.ref-view-urls thead {
    border-bottom: 2px solid var(--color-h3);
}
.ref-view-urls th,
.ref-view-urls th h3 {
    color: var(--color-h3);
    padding:0;
    margin-left:0;
    margin-bottom:.125rem;
}
.ref-view-urls th:first-child {
    width: var(--width-col-url);
    max-width:var(--width-col-url);
    padding-left:0;
}

/*.ref-view-urls th.ref-view-url-status {*/
/*    width:var(--width-col-status);*/
/*    max-width:var(--width-col-status);*/
/*    padding-left:.25rem;*/
/*    text-align:center;*/
/*}*/
.ref-view-urls th.url-status {
    width:var(--width-col-status);
    max-width:var(--width-col-status);
    padding-left:.25rem;
    text-align:center;
}
.ref-view-urls th.url-iabot-status {
    width:var(--width-col-iabot-status);
    max-width:var(--width-col-iabot-status);
    padding-left:.25rem;
    text-align:center;
}

.ref-view-urls tr {
    border-bottom:1px solid var(--grid-color-light);
}
.ref-view-urls tr td {
    border:none;
    padding:.4rem .2rem;
}

/* 1st column (url) */
.ref-view-urls tr td:first-child {
    overflow-wrap: break-word;
    width: var(--width-col-url);
    max-width: var(--width-col-url);
    /*background-color: blueviolet;*/
    padding-right:.75rem;
}

/* 2nd column (status) */
.ref-view-urls tr td:nth-child(2) {
    padding:0.2rem 0;
    width: var(--width-col-status);
    max-width: var(--width-col-status);
}
.ref-view-urls tr td:nth-child(2) div {
    text-align: center;
    border-radius: 0.3rem;
    padding: 0.3rem 0;
}

/* 3rd column (iabot-status) */
.ref-view-urls tr td:nth-child(3) div {
    text-align: center;
    padding: 0;
}


.ref-view-urls tr.url-is-unknown td:nth-child(2) div {
    color: var(--color-http-unknown);
    background-color: var(--color-http-unknown-bg);
}
.ref-view-urls tr.url-is-success td:nth-child(2) div {
    color: var(--color-http-success);
    background-color: var(--color-http-success-bg);
}
.ref-view-urls tr.url-is-redirect td:nth-child(2) div {
    color: var(--color-http-redirect);
    background-color: var(--color-http-redirect-bg);
}
.ref-view-urls tr.url-is-notfound td:nth-child(2) div {
    color: var(--color-http-notfound);
    background-color: var(--color-http-notfound-bg);
}
.ref-view-urls tr.url-is-error td:nth-child(2) div {
    color: var(--color-http-error);
    background-color: var(--color-http-error-bg);
}

/* ref view link status */
.ref-view-link-status .ref-link-status-wrapper .ref-link-status {
    width:2.25rem;
    height:2.25rem;
    display:inline;
    cursor: pointer;
}


/* Footer of ref view details*/

.ref-view .ref-view-footer {
    margin-top:.5rem;
}

.ref-view .raw-json-detail {
    color: #808080;
    background-color: #d2d9e3;
    height: var(--height-raw-display);
    margin-bottom:0;
}

.ref-view .raw-wikitext {
    color: #808080;
    background-color: #d6e3d2;
    overflow-wrap: break-word;
    overflow: scroll;
    height: var(--height-raw-display);
    margin-bottom:0;
}

/*.ref-view .row.footer  {*/
/*    position:absolute;*/
/*    bottom:0;*/
/*    right:0;*/
/*}*/
/*.ref-view .row.footer button {*/
/*    color:blue !important;*/
/*    width:5rem;*/
/*}*/


@media screen and (max-width: 500px) {
    .ref-modal-container {
        flex-direction: column;
        top:0;
        left:0;
        transform:none;
        width:100%;
        height: 100vh;
    }

    /* and transform other elements for responsive */
}


.ref-note-alert {
    color: red;
    background-color: #b9cbc3;
    font-style:italic;
    font-size:1.25em;
    padding:.5rem;
    border-radius: .5rem;
}

.link-status-tooltip {
    font-size:1.25em;
    font-weight:normal;
    z-index: 999;
}

.row.ref-view-actions {
    margin-top:1rem;
}