.flock-container {
    /*transform: scale(2.0);*/

    /* Sets the zoom anchor point to the top-left */
    /*transform-origin: 0 0;*/

    /*background-color: red;*/

}


.flock-icon-wrapper img {
    height: 100%;
    width: 100%;           /* maintain aspect ratio */
    /*width: auto;           !* maintain aspect ratio *!*/
    object-fit: contain;   /* prevent distortion */
    display: block;        /* removes inline gap */
}

