.flock-list-header .flock-header-row,
.flock-list-header .url-header-row {
    position:relative;

    display: flex;
    flex-direction: row;

    border: 1px solid black;
    border-top-left-radius: var(--border-box-radius);
    border-top-right-radius: var(--border-box-radius);

    padding-top: .5rem;
    background-color: var(--g-color-list-header-bg);
    color:var(--g-color-list-header-fg);
}

