/* flock boxes - surrounds flock style components  */
:root {
    --padding-flock-row-header: .25rem 0;
    --color-flock-box-caption-fg: var(--g-color-flock-box-caption-fg); /* point to global for adjustments */
    --color-flock-box-caption-bg: var(--g-color-flock-box-caption-bg); /* point to global for adjustments */
}

.flock-filter-panel {
    flex: 0 0 auto;
}

.flock-display-contents {
    flex: 1;
}

.flock-box {
    margin-bottom:var(--margin-box-bottom);
    margin-left:var(--margin-box-left);
    z-index: 100;
}
.flock-box:first-of-type {
    margin-left:0;
}

.flock-box-caption {
    border: var(--border-box);
    border-radius: var(--border-box-radius);
    /*border-bottom-left-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
    padding: 0.2rem 0.35rem 0.3rem !important;
    color: var(--color-flock-box-caption-fg) !important;
    background-color: var(--color-flock-box-caption-bg) !important;
    font-size: 0.85rem;
    font-weight: bold;
    line-height:1.2;
}

/*.flock-box-caption button.utility-button.small-button {*/
/*    line-height: .85rem;*/
/*}*/

.flock-box-caption .main-caption {
    display:flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.flock-box-caption button:hover {
    color: var(--color-text-muted);
}

.flock-box-caption .sub-caption {
    font-size:88%;
    font-weight:normal;
    margin-top: 0.25rem;
    display:flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
}



/* flock box contents contains header row and rows */

.flock-box-contents {
    overflow-x: scroll;
    height:100%;

    /* for debug */
    /*background-color: #62f162;*/

}


.flock-container {
    /*transform: scale(2.0);*/
    /* Sets the zoom anchor point to the top-left */
    /*transform-origin: 0 0;*/
    /*background-color: red;*/
}


.flock-row-header > div {
    text-align: center;
}

.flock-rows {

}

.debug-extra-column {
    flex: 0 0 auto;

    /*display: block;*/
    color: blue;
    width: 15rem;
    min-width: 15rem;
    background-color: lightblue;
}


.flock-header .flock-col {
    /*background-color: #2dd0cc;*/
    width:100%;
    display: grid;
    grid-template-rows: 2.4rem 1.0rem;
    text-align:center;
}


.flock-icon-wrapper {
    height:100%;
}
.flock-icon-wrapper img {
    height: 100%;
    width: 100%;           /* maintain aspect ratio */
    /*width: auto;           !* maintain aspect ratio *!*/
    object-fit: contain;   /* prevent distortion */
    display: block;        /* removes inline gap */
}


/*.header-cell-content {*/
/*    width:100%;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    text-align: center;*/
/*}*/

.header-cell-sort {
    width:100%;
    display: flex;
    /*align-items: center;*/
    align-items: normal;
    justify-content: center;
    /*background-color: #c27186;*/
}

.header-cell-sort .sort-indicator {
    /*background-color: chartreuse;*/
    text-align: center;
}

.sort-indicator {
    color: #bcbcbc;
}

.sort-asc .sort-indicator .triangle-down {
    color: black;
}

.sort-desc .sort-indicator .triangle-up {
    color: black;
}

.sort-indicator:hover {
    color: var(--color-sort-text);
    /*text-shadow: 0 0 4px var(--color-sort-glow), 0 0 6px var(--color-sort-glow), 0 0 8px var(--color-sort-glow);*/
    text-shadow: 0 0 4px var(--color-sort-glow), 0 0 6px var(--color-sort-glow);
}
