/* flock boxes - surrounds flock style components  */
:root {
    --padding-flock-row-header: .25rem 0;
    --color-flock-box-caption-fg: var(--g-color-flock-box-caption-fg); /* point to global for adjustments */
    --color-flock-box-caption-bg: var(--g-color-flock-box-caption-bg); /* point to global for adjustments */
}

.flock-filter-panel {
    flex: 0 0 auto;
}

.flock-display-contents {
    flex: 1;
}

.flock-box {
    margin-bottom:var(--margin-box-bottom);
    margin-left:var(--margin-box-left);
    z-index: 100;
}
.flock-box:first-of-type {
    margin-left:0;
}

.flock-box-caption {
    border: var(--border-box);
    border-radius: var(--border-box-radius);
    /*border-bottom-left-radius: 0;*/
    /*border-bottom-right-radius: 0;*/
    padding: 0.2rem 0.35rem 0.3rem !important;
    color: var(--color-flock-box-caption-fg) !important;
    background-color: var(--color-flock-box-caption-bg) !important;
    font-size: 0.85rem;
    font-weight: bold;
    line-height:1.2;
}

/*.flock-box-caption button.utility-button.small-button {*/
/*    line-height: .85rem;*/
/*}*/

.flock-box-caption .main-caption {
    display:flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
}
.flock-box-caption button:hover {
    color: var(--color-text-muted);
}

.flock-box-caption .sub-caption {
    font-size:88%;
    font-weight:normal;
    margin-top: 0.25rem;
    display:flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: space-between;
}



/* flock box contents contains header row and rows */

.flock-box-contents {
    overflow-x: scroll;
    height:100%;

    /* for debug */
    /*background-color: #62f162;*/

}

.flock-row-header > div {
    text-align: center;
}

.flock-rows {

}

.debug-extra-column {
    flex: 0 0 auto;

    /*display: block;*/
    color: blue;
    width: 15rem;
    min-width: 15rem;
    background-color: lightblue;
}
