/* css for default popup modal */
:root {
    --color-popup-header-bg: hsl(204deg 81.4% 83.14%);
    --color-popup-header-border: hsl(204deg 31% 72%);
    --border-radious-popup: 6pt;
}

.rnd-modal-popup {
    z-index: 1100;

    border: 2pt solid black;
    border-radius:var(--border-radious-popup) !important;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.2);
    /*background-color: #f0f0f0;*/
    background-color: white;

}

.rnd-modal-popup-contents {
    display: flex;
    flex-direction: column;
    pointer-events: auto;

    /*padding:.5rem;*/
    padding:0;
    width: 100%;
    height: 100%;
}

.rnd-modal-popup-header {
    padding:.35rem .5rem;

    background-color: var(--color-popup-header-bg);
    border-bottom:1.5pt solid var(--color-popup-header-border);
    /*border-radius:3pt;*/
    border-radius:var(--border-radious-popup) var(--border-radious-popup) 0 0;
    cursor: move;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .25rem;

}

.rnd-popup-header-close-button {
    position:absolute;
    border-radius:8pt;
    border:1px solid grey;
    right:.45rem;
    top:.28rem;
    opacity:0.85;
    font-size:88%;
    padding:1.5pt 5pt
}
.rnd-popup-header-close-button:hover {
    background-color: #e0e0e0;
    color: hsl(0, 0%, 20%);
}

.rnd-modal-popup-body {
    padding:0 .5rem .2rem .5rem;
    font-size:1.15rem;
}

.rnd-modal-popup .debug{
    color: #699191;
    background-color: #d3e9e9;
    border: 1px solid #b1bdbd;
    border-radius: 4pt;
    padding: 2pt 3pt;
    margin-bottom: 4pt;
}

.rnd-modal-popup pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    /*white-space: -moz-pre-wrap;  !* Mozilla, since 1999 *!*/
    /*white-space: -pre-wrap;      !* Opera 4-6 *!*/
    /*white-space: -o-pre-wrap;    !* Opera 7 *!*/
    /*word-wrap: break-word;*/

    /*text-wrap: wrap;*/
}