:root {
    --width-signal-badge: 4rem;
    --width-signal-text: 10rem;

    --width-signal-score: var(--width-signal-badge);
    --width-signal-wayback: var(--width-signal-badge);
    --width-signal-wiki: var(--width-signal-badge);
    --width-signal-tranco: var(--width-signal-badge);
    --width-signal-mbfc: var(--width-signal-badge);

    --width-signal-badge-detail: 6rem;
    --width-signal-text-detail: 10rem;

}

/* * * * * * * * * * * * * * * * * *
 *  S I G N A L S   G E N E R I C  *
 * * * * * * * * * * * * * * * * * */

button.fetch-signal-button {
    margin-top: 0 !important;
    background-color: #dbeaf5 !important;
}
button.fetch-signal-button:hover {
    background-color: #cce6f9 !important;
}

.signal-badges {

}

.signal-badges .signal-badge {
    display: flex;
    align-items: center;
}

.signal-badge .signal-badge-element {
    /*display: flex;*/
    /*align-items: center;*/
}

.signal-badge .signal-badge-element:nth-of-type(2) {
    /*background-color: #d1d2d4;*/
}

.signal-badges-extra-msg {
    font-style: italic;
    color: var(--color-text-muted);
    padding:0 0 .15rem .25rem;
    margin-top: -.25rem;
}

.signal-badge .badge-icon {
    padding:.25rem;
}

.signal-badge .logo-image {
    width: 100%;
    /*padding:.25rem;*/
}

.signal-data-details .lolite{
    color:var(--color-lolite);
    font-style: italic;
}

.section-expander {
    margin-bottom: 10px;
    cursor: pointer;
    display: inline-block;
}



/* * * * * * * * * * * * * * * * * * * * * * *
 *  S I G N A L   B A D G E S   I N L I N E  *
 * * * * * * * * * * * * * * * * * * * * * * */

.signal-badges-inline {
    display: grid;
    grid-template-columns:
            var(--width-signal-score)
            var(--width-signal-wayback)
            var(--width-signal-wiki)
            var(--width-signal-tranco)
            var(--width-signal-mbfc)
            minmax(10rem, 1fr);
}

.signal-badges-inline .signal-badge .badge-icon {
    padding:0 .25rem;
}

.signal-badges-inline .signal-badges-extra-msg {
    grid-column: 1 / -1;
}
/*.signal-badges .lolite {*/
/*    color: var(--color-text-muted);*/
/*}*/


.signal-badges-inline.signal-badge {
    display: block;
    padding: .25rem;
    height: 100%;
    align-items: center;
}

/* * * * * * * * * * * * * * * * * * * * * * *
 *  S I G N A L   B A D G E S   D E T A I L  *
 * * * * * * * * * * * * * * * * * * * * * * */

.signal-badges-detail {
}

.signal-data-details hr {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    border-top: 5px solid;
}

.signal-badges-detail .signal-badge{
    display: grid;
    grid-template-columns: var(--width-signal-badge-detail) minmax(var(--width-signal-text), 1fr);
    border-bottom: 1pt solid var(--color-list-line);
    min-height: 4rem;
}

.signal-badges-detail .signal-badge:last-child {
    border-bottom: none;
}

.signal-badges-detail .badge-text{
    padding-left:1rem;
}

.signal-details-header {
    display: grid;
    grid-template-columns: minmax(6.5rem, auto) minmax(auto, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    position:sticky;
    top:0;
    background-color: white;
    z-index: 10;
    padding: .25rem;
}
.signal-details-raw-data {
    display:flex;
    flex-direction: column;
    margin-top: .65rem;
}
.signal-details-raw-data .grid-level-1 {
    margin-left: 1.8rem;
}


.signal-details-raw-data th {
    color: var(--grid-caption-color);
    font-weight: var(--grid-caption-font-weight);
}

.wiki-signals-docs-popup .rnd-modal-popup-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: .75rem;
}

.signal-badge.missing-value .badge-icon {
    opacity: .3;
}
.signal-badge.missing-value .badge-text, .missing-value {
    color: var(--color-text-muted);
    font-style: italic;
}

            /*.signals-badge:hover {*/
            /*    background-color: #d1d2d4;*/
            /*}*/
            /*.signals-badge.signals-nodata {*/
            /*    color: var(--color-badge-nodata-fg);*/
            /*    background-color: var(--color-badge-nodata-bg);*/
            /*    border-color: var(--color-badge-nodata-fg);*/
            /*}*/
            /*.signals-badge.signals-error {*/
            /*    color: var(--color-badge-error-fg);*/
            /*    background-color: var(--color-badge-error-bg);*/
            /*    border-color: var(--color-badge-error-border);*/
            /*}*/

            /*.signals-badge.signals-good {*/
            /*    color: var(--color-badge-good-fg);*/
            /*    background-color: var(--color-badge-good-bg);*/
            /*}*/
            /*.signals-badge.signals-bad {*/
            /*    color: var(--color-badge-bad-fg);*/
            /*    background-color: var(--color-badge-bad-bg);*/
            /*}*/
            /*.signals-badge.signals-zero {*/
            /*    color: var(--color-badge-zero-fg);*/
            /*    background-color: var(--color-badge-zero-bg);*/
            /*}*/
            /*!* this may go away *!*/
            /*.signals-badge.signals-null {*/
            /*    color: lightgrey;*/
            /*    border-color: lightgrey;*/
            /*}*/
