:root {
    --width-signal-badge: 4rem;
    --width-signal-text: 10rem;

    --width-signal-score: var(--width-signal-badge);
    --width-signal-wayback: var(--width-signal-badge);
    --width-signal-wiki: var(--width-signal-badge);
    --width-signal-tranco: var(--width-signal-badge);
    --width-signal-mbfc: var(--width-signal-badge);

    --width-signal-badge-detail: 6rem;
    --width-signal-text-detail: 10rem;

    --width-hot-meter: .6rem;

}

/* * * * * * * * * * * * * * * * * *
 *  S I G N A L S   G E N E R I C  *
 * * * * * * * * * * * * * * * * * */

button.fetch-signal-button {
    margin-top: 0 !important;
    background-color: #dbeaf5 !important;
}
button.fetch-signal-button:hover {
    background-color: #cce6f9 !important;
}


/* * * * * * * * * * * * * * * * *
 *  S I G N A L S   H E A D E R  *
 * * * * * * * * * * * * * * * * */

.signal-details-header {
    position:sticky;
    top:0;
    background-color: white;
}
.signal-details-header .wrapper {
    display: grid;
    grid-template-columns: minmax(6.5rem, auto) minmax(auto, 1fr);
    gap: 10px;
    margin-bottom: 10px;
    z-index: 10;
    overflow: scroll;
    padding: .25rem;
}

/* * * * * * * * * * * * * * * * * *
 *  S I G N A L S   G E N E R I C  *
 * * * * * * * * * * * * * * * * * */

.signal-badges {

}

.signal-badges .signal-badge {
    display: flex;
    align-items: center;
    /*border: 1px solid var(--color-list-line);*/
}

.signal-badge .signal-badge-element {
    /*display: flex;*/
    /*align-items: center;*/
    overflow: hidden;
}

.signal-badge .signal-badge-element:nth-of-type(2) {
    /*background-color: #d1d2d4;*/
}

.signal-badges-extra-msg {
    font-style: italic;
    color: var(--color-text-muted);
    padding:0;
    margin-top: -.25rem;
}

.signal-badge .logo-image {
    width: 100%;
    /*padding:0 .25rem;*/
}
.signal-badge.score-badge .badge-icon {
    display: block;
    padding-right: calc(var(--width-hot-meter) + 2px); /* makes space for the bar */

}
.score-badge .signal-badge-element {
    position: relative;
}
.score-badge .badge-icon-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: var(--width-hot-meter);
    height: 100%;
    background: var(--badge-color, deeppink); /* fallback included; --badge-color defined in badge-icon wrapper div */
}

.section-expander {
    margin-bottom: .5rem;
    margin-top:.5rem;
    cursor: pointer;
    display: inline-block;
    color: #5cb0de;
    font-weight: var(--grid-caption-font-weight);
}



/* * * * * * * * * * * * * * * * * * * * * * *
 *  S I G N A L   B A D G E S   I N L I N E  *
 * * * * * * * * * * * * * * * * * * * * * * */

.signal-badges-inline {
    display: grid;
    grid-template-columns:
            6rem /*var(--width-signal-score)*/
            var(--width-signal-wayback)
            var(--width-signal-wiki)
            var(--width-signal-tranco)
            var(--width-signal-mbfc)
            minmax(10rem, 1fr);
}

/*.signal-badges-inline .signal-badge .badge-icon {*/
.signal-badges-inline .signal-badge {
    padding:0 .2rem;
    /*background-color: limegreen;*/
}

.signal-badges-inline .signal-badges-extra-msg {
    grid-column: 1 / -1;
}
/*.signal-badges .lolite {*/
/*    color: var(--color-text-muted);*/
/*}*/


.signal-badges-inline.signal-badge {
    display: block;
    padding: .25rem;
    height: 100%;
    align-items: center;
}

/* * * * * * * * * * * * * * * * * * * * * * *
 *  S I G N A L   B A D G E S   D E T A I L  *
 * * * * * * * * * * * * * * * * * * * * * * */

.signal-badges-detail {
}

.signal-data-details .lolite{
    color:var(--color-lolite);
    font-style: italic;
}

.signal-data-details hr {
    margin-top: .5rem;
    margin-bottom: .5rem;
    border: none;
    border-top: 5px solid;
}

.signal-badges-detail .signal-badge{
    display: grid;
    grid-template-columns: 6rem 1fr;
    border-bottom: 1pt solid var(--color-list-line);
    min-height: 4rem;
    padding: .25rem 0;
}
.signal-badges-detail .badge-icon:hover{
    cursor: pointer;
    /*border:1px solid black;*/
}

.signal-badges-detail .signal-badge:last-child {
    border-bottom: none;
}

.signal-badges-detail .badge-text{
    padding-left:1rem;
    flex: 1 0 auto;
}

.signal-details-raw-data {
    display:flex;
    flex-direction: column;
    margin-top: .65rem;
}
.signal-details-raw-data .grid-level-1 {
    margin-left: 1.8rem;
}


.signal-details-raw-data th {
    color: var(--grid-caption-color);
    font-weight: var(--grid-caption-font-weight);
}

.wiki-signals-docs-popup .rnd-modal-popup-body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: .75rem;
}

.signal-badge.missing-value .badge-icon {
    opacity: .3;
}
.signal-badge.missing-value .badge-text, .missing-value {
    color: var(--color-text-muted);
    font-style: italic;
}

.tooltip-iare-display .info-spec {
    margin-bottom: .5rem;

}
.tooltip-iare-display .info-label {
    display: block;
    font-style: italic;
    /*color: color-mix(in srgb, currentColor 80%, black);*/
    color: #ddd;
    font-weight: bold;
}
            /*.signals-badge:hover {*/
            /*    background-color: #d1d2d4;*/
            /*}*/
            /*.signals-badge.signals-nodata {*/
            /*    color: var(--color-badge-nodata-fg);*/
            /*    background-color: var(--color-badge-nodata-bg);*/
            /*    border-color: var(--color-badge-nodata-fg);*/
            /*}*/
            /*.signals-badge.signals-error {*/
            /*    color: var(--color-badge-error-fg);*/
            /*    background-color: var(--color-badge-error-bg);*/
            /*    border-color: var(--color-badge-error-border);*/
            /*}*/

            /*.signals-badge.signals-good {*/
            /*    color: var(--color-badge-good-fg);*/
            /*    background-color: var(--color-badge-good-bg);*/
            /*}*/
            /*.signals-badge.signals-bad {*/
            /*    color: var(--color-badge-bad-fg);*/
            /*    background-color: var(--color-badge-bad-bg);*/
            /*}*/
            /*.signals-badge.signals-zero {*/
            /*    color: var(--color-badge-zero-fg);*/
            /*    background-color: var(--color-badge-zero-bg);*/
            /*}*/
            /*!* this may go away *!*/
            /*.signals-badge.signals-null {*/
            /*    color: lightgrey;*/
            /*    border-color: lightgrey;*/
            /*}*/
