:root {
    --width-url-citations: 3.5rem;
    --width-url-templates: 4.0rem;
    --width-url-actionable: 3.0rem;
    --width-url-sections: 4.5rem;
    --width-url-perennial: 5.0rem;
    --width-url-probes: 6.0rem;
    --width-url-signals: 25.5rem;

    --url-list-width-url: 20rem;
    --url-list-width-status: 3.5rem;
    --url-list-width-archive-status: 3.5rem;
    --url-list-width-actionable: 3.5rem;

    --url-list-grid-height: 1.9rem;
    --url-list-grid-columns:
            var(--url-list-width-url)
            var(--url-list-width-status)
            var(--url-list-width-archive-status)
            var(--url-list-width-actionable)
            minmax(0, 1fr);  /* the last url column, the signal column */

    --url-list-padding-url: .5rem;
    --url-list-padding-url-small: .25rem;


    --width-col-url-overview: 327px;
    /*--width-cell-border: 1pt solid black;*/
    --width-cell-border: none;
    /*--color-cell-border: grey;*/
    --color-cell-border: inherit;

    --color-row-header-bg: #eeeeee;

    --width-archive-icon-list: 1.5rem;     /* size of check / x icons in list */
    --height-archive-icon-list: 1.5rem;
    --width-archive-book-list: 1.3rem;     /* size of check / x icons in list */
    --height-archive-book-list: 1.3rem;

    --width-icon-actionable: .75rem;

    /* perennial ratings colors */
    --color-rating-blacklist: hsl(347.31deg 100% 88%);
    --color-rating-unreliable: hsl(296.92deg 100% 88%);
    --color-rating-reliableMarginally: hsl(29.84deg 100% 88%);
    --color-rating-reliable: hsl(104.21deg 54.29% 88%);
    --color-rating-deprecated: hsl(180deg 48.15% 88%);
    --color-rating-multi: hsl(204.07deg 81.98% 88%);

    --color-badge-fg: #4a4a4a;
    --color-badge-border: #555;

    --color-badge-nodata-fg: lightgrey;
    --color-badge-nodata-bg: #ffffff;
    --color-badge-error-fg: #fc7a7a; /*lightgrey*/;
    --color-badge-error-bg: transparent;
    --color-badge-error-border: #fc7a7a; /* #c64040; */
    --color-badge-good-fg: var(--color-badge-fg);
    --color-badge-good-bg: #69ec4d;
    --color-badge-bad-fg: var(--color-badge-fg);
    --color-badge-bad-bg: #fc7a7a;
    --color-badge-zero-fg: var(--color-badge-fg);
    --color-badge-zero-bg: #fff82e;

    /* archive status filter */ /* deprecated? */
    --width-filter-icon: 1.5rem;     /* size of check / x icons in list */
    --width-filter-caption: 4rem;
    --width-filter-choice: 2rem;
    --height-filter-icon: 1.5rem;

    /* deprecated? */
    --width-url-iabotdb_status: 15.5rem;
    /*--extent-archive-icon: 1.75rem;  !* size of check / x icons in Status Filter Chooser *!*/

    --choice-fetch-color-bg: inherit; /*#d1d5da;*/
    --choice-fetch-border-radius: .375rem;

    --height-piechart-display: 210px;

    --border-default:1px solid black;

    /*--height-filter-box-rows: 26.5rem;*/
    --height-filter-box-rows: calc(100vh - 15rem);
    --margin-url-column: .2rem;
    --padding-row-header-top: .075rem;
    --padding-row-header-bottom: .2rem;


}

/* special debug */
.flock-header div:last-child,
.url-row div:last-child {
    /*background-color: deeppink;*/
}

*.xxx {  /* debug to outline all elements */
    outline: 1px solid rgba(255, 0, 0, 0.2);
}


/* prevents tooltip wrapper from affecting layout of contained contents */
[data-tooltip-id] {
    display: contents;
}

.url-flock .flock-box-contents {
    border: var(--iare-border-normal);
    border-top-left-radius: var(--border-box-radius);
    border-top-right-radius: var(--border-box-radius);
}

.flock-header,
.url-row
{
    /*min-width: 100%;*/
    column-gap: var(--margin-url-column);
}


.flock-container {
    height: 100%;
    min-height: 0;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    overflow:hidden;
}


.flock-header {
    cursor: pointer;

    background-color: var(--color-row-header-bg);
    z-index: 10;  /* places in front of rows */

    display: grid;
    align-items: center;
    grid-template-columns: var(--url-list-grid-columns);

    padding-top: var(--padding-row-header-top);
    padding-bottom: var(--padding-row-header-bottom);
    border-bottom: var(--iare-border-normal);

    overflow-x: scroll;

    /*min-width: max-content;*/
    /*width: 100%;*/
}

.flock-header .header-cell {
    height: 100%;
}


.flock-rows {
    min-height: 0;      /* critical flex fix */
    overflow: auto;     /* 👈 THIS is the scroll boundary */
    /*background-color: var(--iare-test-color) !important;*/
}

.flock-rows .url-row
{
    display: grid;
    cursor: pointer;

    align-items: center;
    grid-template-columns: var(--url-list-grid-columns);
    grid-auto-rows: minmax(var(--url-list-grid-height), auto);

    border-bottom:var(--iare-border-normal);

    width: max-content;
    /*min-width: fit-content;*/
}

.flock-rows .url-row:last-child {
    border-bottom: none;
}

.flock-rows .url-row:hover {
    /*color:var(--color-list-fg-hover);*/
    background-color: var(--color-list-bg-hover-fancy);
}

.flock-rows .url-selected {
    color:var(--color-list-fg-selected);
    background-color: var(--color-list-bg-selected);
}

.url-row > div,
.flock-header > div{
    margin-right: var(--margin-url-column);
}

.url-row > div {
    text-align: center;
    padding:var(--url-list-padding-url) 0;
}



/*
 * custom url-row formatting for each url-list column type
   - includes column widths
     TODO: are widths still necessary when using display:grid for row? i think not.
 */

.url-row a,
.url-row .url-name {
    overflow-wrap: break-word;
}


.url-row.url-row-error {
    background-color: darkred;
    color:white;

    cursor: pointer; /* TODO put a special error cursor here */

}

.url-row .url-info
{
    padding-left: var(--url-list-padding-url) !important;
    text-align: left;
}

.flock-header .url-name,
.url-row .url-name
{
    text-align:left !important;
    padding-left: var(--url-list-padding-url) !important;

    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}


.flock-header .url-live_status,
.url-row .url-live_status {
}

.flock-header .url-archive_status,
.url-row .url-archive_status
{
    border-right: var(--width-cell-border);
    border-right-color: var(--color-cell-border);
}
.url-row .url-archive_status {
    padding:.25rem 0 0;
}
.url-row .url-archive_status:has(> .archive-book) {
    padding-top: .4rem;
}

.url-row .archive-yes {
    width:var(--width-archive-icon-list);
    height:var(--height-archive-icon-list);
    content: url('../../images/wbm.link.yes.png');
}
.url-row .archive-no {
    width:var(--width-archive-icon-list);
    height:var(--height-archive-icon-list);
    content: url('../../images/wbm.link.ex.grey.v3.png');
}
.url-row .archive-book {
    width:var(--width-archive-book-list);
    height:var(--height-archive-book-list);
    content: url('../../images/wbm.book.ia.svg');
}


.flock-header .url-citations,
.url-row .url-citations
{
    text-align: left;
    /*border-left: 1px solid black;*/
    width: var(--width-url-citations);
    max-width: var(--width-url-citations);
    min-width: var(--width-url-citations);
}

.flock-header .url-templates,
.url-row .url-templates
{
    text-align: left;
    /*border-left: 1px solid black;*/
    width: var(--width-url-templates);
    max-width: var(--width-url-templates);
}

.flock-header .url-actionable,
.url-row .url-actionable
{
}

.url-row .yes-actionable {
    position: relative;
}
.url-row .yes-actionable .icon-area {
    content: "";
    position:relative;
    top:2pt;
    display: inline-block;
    margin-right:3pt;
    width: var(--width-icon-actionable);
    height: var(--width-icon-actionable);
    background-image: url('../../images/actionable_icon.v1r1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.flock-header .url-signals,
.url-row .url-signals
{
    text-align: left;
}

.flock-header .url-sections,
.url-row .url-sections
{
    width: var(--width-url-sections);
    max-width: var(--width-url-sections);
    min-width: var(--width-url-sections);
}
.url-row .url-sections {
    text-align: left !important;
}

.flock-header .url-perennial,
.url-row .url-perennial
{
    width: var(--width-url-perennial);
    max-width: var(--width-url-perennial);
    min-width: var(--width-url-perennial);
}


/* row-wide treatments of url row */

.url-row.url-is-unknown .url-status {
    /*color: #a5a5a5 !important;*/
    color: #999999 !important;
    font-size: 1.4em;
    font-family: Times, serif, sans-serif;
}
.url-row.url-is-redirect .url-status {
    /*color: #b700ff !important;*/
}
.url-row.url-is-notfound .url-status {
    color: red !important;
}
.url-row.url-is-error .url-status {
    /*color: var(--color-http-error-bg) !important;*/
    color: red !important;
}


/* URL Filters selections etc. */

.url-filters {
    display:flex;
    flex-direction: column;

}
.url-filters button {
    /*width:100% !important;*/
    font-size:1rem;
    padding:.25rem .5rem;
    text-align:left;
    font-weight: bold;
    /*background-color: #cee1e8;*/
    min-width: 10rem;
    height:2.5rem;
}
.url-filters button.btn-pressed {
    /*background-color: #7fbfe3 !important;*/
    background-color: #95c9e5 !important;
}
.url-filters .btn-description {
    display:none;
    font-style: italic;
    font-size: smaller;
    font-weight: normal;
    padding-left:1em;
}



/* other */

.status-method-display {
    color:#808080 !important;
}
.status-method-display .embiggen{
    font-size:120%;
}

h4.url-flock-caption {
    display:inline-block;
}

.choice-fetch-items.citation-choices {
    padding:.5rem .65rem;
    background-color: var(--choice-fetch-color-bg);
    /*border:1px solid black;*/
    /*border-radius: var(--choice-fetch-border-radius)*/
}

button.utility-button.disabled {
    background-color: #e4e4e4 !important;
    /*color: #a6a6a6 !important;*/
    border-color: #a6a6a6 !important;
    cursor: inherit;
}

.button-show-ref-list {
    width:8rem;
    padding:.5rem !important;
    opacity: .85;
}

/* pie charts for overview all have same size */
.url-overview .pie-chart-container {
    height:var(--height-piechart-display);
}

.url-perennial .lolite {
    color: var(--color-lolite)
}

.header-cell.url-name .header-cell-sort {
    align-items: flex-start !important;
    justify-content: flex-start !important;
    text-align: left;
}

.header-cell.url-name .header-cell-content {
    align-items: flex-start !important;
}

/*
 **
 ***
boneyard
 ***
 **
 */

/*@keyframes fademove {*/
/*    0%   {transform: translatey(0px);}*/
/*    25%  {transform: translatey(200px);}*/
/*    75%  {transform: translatey(50px);}*/
/*    100% {transform: translatey(100px);}*/
/*}*/
@keyframes fadetext {
    0%   {opacity: 0;}
    25%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}

.feedback-div {
    display:inline-block;
}
.feedback-div.feedback-fade-text {
    /*transition: opacity 3s ease; !* Define transition *!*/
    /*opacity: 0; !* Initially set opacity to 0 *!*/
    animation: fadetext 6s ease;

}

.some-parent {
  min-height: 0;
}