:root {
    /*--width-url-list: 40rem;*/

    --width-url-name: 20rem;
    --width-url-status: 2.0rem;
    --width-url-archive-status: 3.5rem;
    --width-url-citations: 3.5rem;
    --width-url-templates: 4.0rem;
    --width-url-actionable: 3.5rem;
    --width-url-signals: 15.5rem;
    --width-url-sections: 4.5rem;
    --width-url-perennial: 5.0rem;
    --width-url-probes: 6.0rem;

    --width-col-url-overview: 327px;
    /*--width-cell-border: 1pt solid black;*/
    --width-cell-border: none;
    /*--color-cell-border: grey;*/
    --color-cell-border: inherit;

    --width-archive-icon-list: 1.5rem;     /* size of check / x icons in list */
    --height-archive-icon-list: 1.5rem;
    --width-archive-book-list: 1.3rem;     /* size of check / x icons in list */
    --height-archive-book-list: 1.3rem;

    --width-icon-actionable: .75rem;

    /* perennial ratings colors */
    --color-rating-blacklist: hsl(347.31deg 100% 88%);
    --color-rating-unreliable: hsl(296.92deg 100% 88%);
    --color-rating-reliableMarginally: hsl(29.84deg 100% 88%);
    --color-rating-reliable: hsl(104.21deg 54.29% 88%);
    --color-rating-deprecated: hsl(180deg 48.15% 88%);
    --color-rating-multi: hsl(204.07deg 81.98% 88%);

    --color-badge-fg: #4a4a4a;
    --color-badge-border: #555;

    --color-badge-nodata-fg: lightgrey;
    --color-badge-nodata-bg: #ffffff;
    --color-badge-error-fg: #fc7a7a; /*lightgrey*/;
    --color-badge-error-bg: transparent;
    --color-badge-error-border: #fc7a7a; /* #c64040; */
    --color-badge-good-fg: var(--color-badge-fg);
    --color-badge-good-bg: #69ec4d;
    --color-badge-bad-fg: var(--color-badge-fg);
    --color-badge-bad-bg: #fc7a7a;
    --color-badge-zero-fg: var(--color-badge-fg);
    --color-badge-zero-bg: #fff82e;

/* archive status filter */ /* deprecated? */
    --width-filter-icon: 1.5rem;     /* size of check / x icons in list */
    --height-filter-icon: 1.5rem;
    --width-filter-caption: 4rem;
    --width-filter-choice: 2rem;

    /* deprecated? */
    --width-url-iabotdb_status: 15.5rem;
    /*--extent-archive-icon: 1.75rem;  !* size of check / x icons in Status Filter Chooser *!*/

    --choice-fetch-color-bg: inherit; /*#d1d5da;*/
    --choice-fetch-border-radius: .375rem;

    --height-piechart-display: 210px;

    --border-default:1px solid black;

    --width-overview-column: 335px;

    --padding-url-column: .5rem;
    --padding-url-column-small: .25rem;

    /*--height-filter-box-rows: 26.5rem;*/
    --height-filter-box-rows: calc(100vh - 15rem);

}

#url-display-tooltip {
    font-size:1.25em;
    font-weight:normal;
}

.flock-box.url-flock {
    flex: 1 1 0%;
    width: 25%;
}


.url-chart-display {
    width:327px;
}
.url-chart-display .chart-container {
    height:300px;
}


.url-flock {
    /*width: var(--width-url-list);*/
    /*max-width: var(--width-url-list);*/
}

/* duh */
.url-list-header {
    /*position: sticky;*/
    /*flex: 1;*/
    /*z-index: 1;*/
}

.url-list-rows {
    overflow-y: auto;
    flex: 1;
    background-color: var(--iare-test-color)
}

.url-list-rows .url-row
{
    display: flex;
    flex-direction: row;
    border:1px solid black;
    border-top:none;
    position:relative;

    cursor: pointer;

}
.url-list-rows .url-row.url-row-error {
    background-color: darkred;
    color:white;

    cursor: pointer; /* TODO put a special error cursor here */

}

.url-list-rows .url-row:hover {
    color:var(--color-list-fg-hover);
    background-color: var(--color-list-bg-hover);
}

.url-list-rows .url-selected {
    color:var(--color-list-fg-selected);
    background-color: var(--color-list-bg-selected);
}

.url-list-header .url-header-row{
    position:relative;

    display: flex;
    flex-direction: row;

    border: 1px solid black;
    border-top-left-radius: var(--border-box-radius);
    border-top-right-radius: var(--border-box-radius);

    padding-top: .5rem;
    background-color: var(--g-color-list-header-bg);
    color:var(--g-color-list-header-fg);
}

.url-row a,
.url-row .url-name {
    overflow-wrap: break-word;
}

.url-row > div {
    text-align:center;
    padding:var(--padding-url-column);
}

.url-header-row > div {
    cursor: pointer;
    text-align:center;
    padding:0 0 .5rem 0;
}

/* url list column widths for different column types */

.url-header-row .url-name,
.url-row .url-name
{
    width: var(--width-url-name);
    min-width: var(--width-url-name);
    max-width: var(--width-url-name);
    /*border-right: var(--width-cell-border);*/
    /*border-right-color: var(--color-cell-border);*/
    text-align:left !important;
}
.url-header-row .url-name
{
    padding-left: var(--padding-url-column) !important;
}

.url-header-row .url-status,
.url-row .url-status {
    width: var(--width-url-status);
    max-width: var(--width-url-status);
    min-width: var(--width-url-status);
    /*border-right: var(--width-cell-border);*/
}

.url-header-row .url-archive_status,
.url-row .url-archive_status
{
    min-width: var(--width-url-archive-status);
    max-width: var(--width-url-archive-status);
    border-right: var(--width-cell-border);
    border-right-color: var(--color-cell-border);
}
.url-row .url-archive_status {
    padding:.25rem 0 0;
}
.url-row .url-archive_status:has(> .archive-book) {
    padding-top: .4rem;
}
.url-row .archive-yes {
    width:var(--width-archive-icon-list);
    height:var(--height-archive-icon-list);
    content: url('../../images/wbm.link.yes.png');
}
.url-row .archive-no {
    width:var(--width-archive-icon-list);
    height:var(--height-archive-icon-list);
    content: url('../../images/wbm.link.ex.grey.v3.png');
}
.url-row .archive-book {
    width:var(--width-archive-book-list);
    height:var(--height-archive-book-list);
    content: url('../../images/wbm.book.ia.svg');
}


.url-header-row .url-citations,
.url-row .url-citations
{
    text-align: left;
    /*border-left: 1px solid black;*/
    width: var(--width-url-citations);
    max-width: var(--width-url-citations);
    min-width: var(--width-url-citations);
}

.url-header-row .url-templates,
.url-row .url-templates
{
    text-align: left;
    /*border-left: 1px solid black;*/
    width: var(--width-url-templates);
    max-width: var(--width-url-templates);
}

.url-header-row .url-actionable,
.url-row .url-actionable
{
    width: var(--width-url-actionable);
    max-width: var(--width-url-actionable);
    min-width: var(--width-url-actionable);
}

.url-row .yes-actionable {
    position: relative;
}
.url-row .yes-actionable .icon-area {
    content: "";
    position:relative;
    top:2pt;
    display: inline-block;
    margin-right:3pt;
    width: var(--width-icon-actionable);
    height: var(--width-icon-actionable);
    background-image: url('../../images/actionable_icon.v1r1.png');
    background-size: cover;
    background-repeat: no-repeat;
}

.url-header-row .url-signals,
.url-row .url-signals
{
    width: var(--width-url-signals);
    max-width: var(--width-url-signals);
    min-width: var(--width-url-signals);
    text-align: left;
}

.url-header-row .url-signals {
    padding-left: var(--padding-url-column)
}

.signals-results .lolite {
    /*color: var(--color-text-muted);*/
    color: #adb4c0;
}

x.url-header-row div:last-child,
x.url-row div:last-child {
    background-color: deeppink;
    width: 100%;
    max-width: 100%;
}


.url-header-row .url-sections,
.url-row .url-sections
{
    width: var(--width-url-sections);
    max-width: var(--width-url-sections);
    min-width: var(--width-url-sections);
}
.url-row .url-sections {
    text-align: left !important;
}

.url-header-row .url-perennial,
.url-row .url-perennial
{
    width: var(--width-url-perennial);
    max-width: var(--width-url-perennial);
    min-width: var(--width-url-perennial);
}

.url-header-row .url-probes,
.url-row .url-probes
{
    width: var(--width-url-probes);
    max-width: var(--width-url-probes);
    min-width: var(--width-url-probes);
}
.probe-badges {
    display:flex;
    flex-direction: row;
}
.probe-badge {
    min-width:1.25rem;
    border:1.5pt solid var(--color-badge-border);
    padding:1pt 3pt;
    margin-right: .3rem;
    border-radius: 3pt;
    cursor: pointer;
}
.probe-badge:hover {
    background-color: #d1d2d4;
}
.probe-badge.probe-nodata {
    color: var(--color-badge-nodata-fg);
    background-color: var(--color-badge-nodata-bg);
    border-color: var(--color-badge-nodata-fg);
}
.probe-badge.probe-error {
    color: var(--color-badge-error-fg);
    background-color: var(--color-badge-error-bg);
    border-color: var(--color-badge-error-border);
}

.probe-badge.probe-good {
    color: var(--color-badge-good-fg);
    background-color: var(--color-badge-good-bg);
}
.probe-badge.probe-bad {
    color: var(--color-badge-bad-fg);
    background-color: var(--color-badge-bad-bg);
}
.probe-badge.probe-zero {
    color: var(--color-badge-zero-fg);
    background-color: var(--color-badge-zero-bg);
}
/* this may go away */
.probe-badge.probe-null {
    color: lightgrey;
    border-color: lightgrey;
}



/* row-wide treatments of url row */

.url-row.url-is-unknown .url-status {
    /*color: #a5a5a5 !important;*/
    color: #999999 !important;
    font-size: 1.4em;
    font-family: Times, serif, sans-serif;
}
.url-row.url-is-redirect .url-status {
    /*color: #b700ff !important;*/
}
.url-row.url-is-notfound .url-status {
    color: red !important;
}
.url-row.url-is-error .url-status {
    color: var(--color-http-error-bg) !important;
}


/* URL Filters selections etc. */

.url-filters {
    display:flex;
    flex-direction: column;

}
.url-filters button {
    /*width:100% !important;*/
    font-size:1rem;
    padding:.25rem .5rem;
    text-align:left;
    font-weight: bold;
    /*background-color: #cee1e8;*/
    min-width: 10rem;
    height:2.5rem;
}
.url-filters button.btn-pressed {
    /*background-color: #7fbfe3 !important;*/
    background-color: #95c9e5 !important;
}
.url-filters .btn-description {
    display:none;
    font-style: italic;
    font-size: smaller;
    font-weight: normal;
    padding-left:1em;
}



/* other */

.status-method-display {
    color:#808080 !important;
}
.status-method-display .embiggen{
    font-size:120%;
}

.rnd-modal-popup-contents .probe-score {
    font-weight: bold;
    font-size: .85rem;
    padding-top:.5rem;
}
.rnd-modal-popup-contents .raw-title {
    font-weight: bold;
    font-size: .85rem;
    margin-top:.25rem;
    color:#555;
}

h4.url-flock-caption {
    display:inline-block;
}

.choice-fetch-items.citation-choices {
    padding:.5rem .65rem;
    background-color: var(--choice-fetch-color-bg);
    /*border:1px solid black;*/
    /*border-radius: var(--choice-fetch-border-radius)*/
}

button.utility-button.disabled {
    background-color: #e4e4e4 !important;
    /*color: #a6a6a6 !important;*/
    border-color: #a6a6a6 !important;
    cursor: inherit;
}

.button-show-ref-list {
    width:8rem;
    padding:.5rem !important;
    opacity: .85;
}

/* pie charts for overview all have same size */
.url-overview .pie-chart-container {
    height:var(--height-piechart-display);
}

/* for shading of url rows according to rating status */

/*.url-rating-blacklist {background-color: var(--color-rating-blacklist);}*/
/*.url-rating-unreliable {background-color: var(--color-rating-unreliable);}*/
/*.url-rating-reliableMarginally {background-color: var(--color-rating-reliableMarginally);}*/
/*.url-rating-reliable {background-color: var(--color-rating-reliable);}*/
/*.url-rating-deprecated {background-color: var(--color-rating-deprecated);}*/
/*.url-rating-multi {background-color: var(--color-rating-multi);}*/

/*.url-rating-__unassigned {background-color: #a64ce2;}*/
/*.url-rating-__unassigned {background-color: rgb(206.6, 226, 254.6);}*/
/*.url-rating-__unassigned {background-color: rgb(225.6, 227.4, 229);}*/
/*.url-rating-__unassigned {*/
/*    background-color: rgb(209, 231, 220.8);*/
/*}*/


.url-perennial .lolite {
    color: var(--color-lolite)
}


/*
 **
 ***
boneyard
 ***
 **
 */


            /*.filter-box-rows {*/
            /*    height:var(--height-filter-box-rows);*/
            /*    min-height:var(--height-filter-box-rows);*/
            /*    max-height:var(--height-filter-box-rows);*/
            /*    overflow: scroll;*/
            /*}*/





/*@keyframes fademove {*/
/*    0%   {transform: translatey(0px);}*/
/*    25%  {transform: translatey(200px);}*/
/*    75%  {transform: translatey(50px);}*/
/*    100% {transform: translatey(100px);}*/
/*}*/
@keyframes fadetext {
    0%   {opacity: 0;}
    25%  {opacity: 1;}
    75%  {opacity: 1;}
    100% {opacity: 0;}
}

.feedback-div {
    display:inline-block;
}
.feedback-div.feedback-fade-text {
    /*transition: opacity 3s ease; !* Define transition *!*/
    /*opacity: 0; !* Initially set opacity to 0 *!*/
    animation: fadetext 6s ease;

}

/*.feedback-fadeout {*/
/*    transition: opacity 3s ease; !* Define transition *!*/
/*    opacity: 0; !* Initially set opacity to 0 *!*/
/*}*/

/*.feedback-visible {*/
/*    transition: opacity 1.0s ease; !* Define transition *!*/
/*    opacity: 1; !* Set opacity to 1 when text is displayed *!*/
/*}*/

/*.feedback-div {*/
/*    opacity: 0;*/
/*    transition: opacity 2s;*/
/*}*/

/*.feedback-div.fade-in {*/
/*    opacity: 1;*/
/*}*/

/*.feedback-div.fade-out {*/
/*    opacity: 0;*/
/*}*/
