/*.fld-display {*/
/*    !*width:25%;*!*/
/*    overflow: auto;*/
/*    !*margin-left:1rem;*!*/
/*    !*flex: 0 0 300px; !* no-can-grow, mo-can-shrink, absolute width 300px *!*!*/
/*}*/
/*.fld-display a {*/
/*    color: #339966;*/
/*}*/
:root {
    --width-fld-list: 17rem;
    --width-col-1: 14rem;

}
.fld-flock {
    /*width: var(--width-fld-list);*/
    padding-right:1.5rem;
}
.fld-list {
    cursor: pointer;
    /*max-height:23rem;*/
    /*height:23rem;*/
    max-height: var(--height-list);
    height: var(--height-list);
    overflow: scroll;
}
.fld-list-wrapper {
    width: var(--width-fld-list);
}

.fld-list .fld-row,
.fld-list-header .fld-row {
    display: flex;
    flex-direction: row;

    border:1px solid black;
    border-top:none;

    position:relative;
}
.fld-list .fld-row:first-child {
    /*border-top:1px solid black;*/
}
.fld-list-header .fld-row {
    /*border-bottom:none;*/
    border-top:1px solid black;
}
.fld-list .fld-row > div,
.fld-list-header .fld-row > div
{
    padding:.25rem .4rem;
}
.fld-list .fld-row > div:first-child,
.fld-list-header .fld-row > div:first-child
{
    width:var(--width-col-1);
    min-width:var(--width-col-1);
    max-width:var(--width-col-1);
    overflow:scroll;
}
.fld-list .fld-row > div:nth-child(2),
.fld-list-header .fld-row > div:nth-child(2)
{
    border-left:1px solid black;
}
.fld-list .fld-row:hover {
    color:var(--color-list-fg-hover);
    background-color: var(--color-list-bg-hover);
}
.fld-list .fld-selected {
    color:var(--color-list-fg-selected);
    background-color: var(--color-list-bg-selected);
}

.fld-list-header {
    /*background-color: #cccccc;*/
    background-color: var(--color-list-header-bg);
    color:black;
}
.fld-list-header:hover {
    /*color: red;*/
    /*background-color: initial;*/
}
.display-button-showall {
    margin-left:2em;
    border: 1px solid black;
    border-radius: 0.75rem;

    font-size: .75rem;
    padding:0em .5em 0em;

    /*background-color: #dadffd;*/
    background-color: var(--color-button-bg);
    color: #454545;

}
.display-button-showall:hover {
    color: var(--color-button-bg-hover);
    background-color: var(--color-list-bg-hover);
}