.page-overview {
    /*display:flex;*/
    /*flex-direction: row;*/
    /*padding:1rem;*/
    /*padding-top:0;*/
    /*border:1px solid black;*/
}

.page-overview-wrap {
    display:flex;
    flex-direction: row;
    padding:1rem;
    padding-top:0;
    border:1px solid black;
}
.page-overview-wrap > div {
    margin-right:2rem;
}

.reference-types {
    display:flex;
    flex-direction: column;

}

.reference-types p {
    margin: 0 0 .5rem;
    }

.reference-filters {
    display:flex;
    flex-direction: column;

}
.reference-filters button {
    /*width:100% !important;*/
    padding:.25rem .5rem;
    text-align:left;
    font-weight: bold;
}
.reference-filters button.btn-pressed {
    background-color: #b9cbc3;
}
.reference-filters .btn-description {
    font-style: italic;
    font-size: smaller;
    font-weight: normal;
    padding-left:1em;
}


.url-filters {
    display:flex;
    flex-direction: column;

}
.url-filters button {
    /*width:100% !important;*/
    font-size:1rem;
    padding:.25rem .5rem;
    text-align:left;
    font-weight: bold;
    /*background-color: #cee1e8;*/
    min-width: 10rem;
    height:2.5rem;
}
.url-filters button.btn-pressed {
    /*background-color: #7fbfe3 !important;*/
    background-color: #95c9e5 !important;
}
.url-filters .btn-description {
    display:none;
    font-style: italic;
    font-size: smaller;
    font-weight: normal;
    padding-left:1em;
}


/*.button-ref-type {*/
/*    display:block;*/
/*    width:12em;*/
/*    height:2em;*/
/*    margin-bottom:.25rem;*/
/*}*/
/*.reference-data {*/
/*    display:flex;*/
/*    flex-direction: row;*/
/*}*/

.page-data {
    display:flex;
    flex-direction: row;
    border-top:1px solid black;
}
.references {
    width:50%;
    overflow:hidden;
    display:flex;
    flex-direction: row;
}
.refs-container {
    display:flex;
    flex-direction: column;
    width:50%
}
.ref-details {
    display:block;
    width:50%;
    margin-left:1rem;
    word-wrap: break-word;
}
.ref-detail .raw-detail {
    color: #808080;
}
.ref-button {
    /*background-color: #ced9ef; !* #c1d4e0;*!*/
    background-color: #ceefd9; /* #c1d4e0;*/
    /*width: 22rem;*/

    width: 100%;
    text-align: left;
    cursor: pointer; /* Pointer/hand icon */
}
.ref-button.is-pressed {
    background-color: #7690c4; /* #c1d4e0;*/
    /*width: 22rem;*/
}

.urls {
    width:25%;
    margin-left:1rem;
    overflow: auto;
}
.urls a {
    /*color:red;*/
    /*display:block;*/
    width:10em;
    margin-bottom:.5rem;
    overflow-wrap: break-word;
}
.url-display .url-row {
    display: flex;
    flex-direction: row;
    border:1px solid black;
    border-top:none;
    position:relative;
}
.url-display .url-row:first-child {
    border-top:1px solid black;
}
.url-display .url-row.url-is-unknown,
.url-display .url-row.url-is-unknown a{
    color:red !important;
}
.url-display .url-row.url-is-redirect,
.url-display .url-row.url-is-redirect a{
    /*color: #b700ff !important;*/
}
.url-display .url-row.url-is-notfound,
.url-display .url-row.url-is-notfound a{
    color: red !important;
}
.url-display .url-row.url-is-error,
.url-display .url-row.url-is-error a{
    color: red !important;
}

.url-display .url-name {
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    padding: .5rem;
    border-right: 1px solid black;
}
.url-display .url-status {
    width: 10%;
    padding:.25rem;
}
.url-display a {
    width:80%;
    margin-bottom:.5rem;
    overflow-wrap: break-word;
}
.flds {
    width:25%;
    overflow: auto;
    margin-left:1rem;
}
.flds a {
    color: #339966;
}

/*.j-view-refs .filter-box{*/
/*    border:1px solid black;*/
/*    margin-left: 0 !important;*/
/*    padding:.5em;*/
/*}*/
/*.j-view-refs .filter-box h4 {*/
/*    margin:0 0 0.5em 0;*/
/*}*/
/*.j-view-refs .filter-box button {*/
/*    !*width:12rem !important;*!*/
/*    width:100% !important;*/
/*}*/
/*.j-view-refs .filter-box .btn-description {*/
/*    font-style: italic;*/
/*    font-size: smaller;*/
/*    padding-left:1em;*/
/*}*/

/*.j-view-refs button.btn-pressed {*/
/*    !*background-color: #bbeff3;*!*/
/*    !*background-color: #1a73e8;*!*/
/*    background-color: hsl(214deg 82% 77%);*/
/*}*/


