.page-info {
    margin-top: 0.5rem;
    margin-bottom: 0.75rem;
}

.page-data {
    display:flex;
    flex-direction: row;
    border-top:1px solid black;
    padding-top:1rem;
}
.page-data > div {
    margin-left: 1.25rem;
    /*flex: 0 0 auto;*/
}
.page-data > div:first-child {
    margin-left:0;
}

/* section-box is common component class for sections
 - see UrlDisplay and RefDisplay e.g.
 */
.section-box {
    /*padding:1rem;*/
    /*border:1px solid black;*/
}
.section-box h3, .section-box h4 {
    margin-top:0;
    margin-bottom:.5rem;
}
