.url-overview-column {
    overflow: auto;
    /*flex:0 0 317px;*/
}
.url-overview > h4 {
    color: grey;
    margin-bottom: 0;
}
.url-chart-display {
    width:327px;
}

.url-flock {
    margin-top: 1.7rem;
    max-width: 23rem;
}

.list-header {
    color: grey;
}

.url-list {
    max-height: var(--height-list);
    height: var(--height-list);
    overflow: scroll;
}
.url-list-header {
    /*background-color: #cccccc;*/
    background-color: var(--color-list-header-bg);
    color:black;
}

.url-list .url-row,
.url-list-header .url-row
{
    display: flex;
    flex-direction: row;
    border:1px solid black;
    border-top:none;
    position:relative;
}
.url-list-header .url-row {
    border-top:1px solid black;
}

.url-list .url-row.url-row-error {
    background-color: darkred;
    color:white;
}

.url-list .url-row.url-is-unknown,
.url-list .url-row.url-is-unknown a{
    color:dimgrey !important;
}
.url-list .url-row.url-is-redirect,
.url-list .url-row.url-is-redirect a{
    /*color: #b700ff !important;*/
}
.url-list .url-row.url-is-notfound,
.url-list .url-row.url-is-notfound a{
    color: red !important;
}
.url-list .url-row.url-is-error,
.url-list .url-row.url-is-error a{
    color: red !important;
}

.url-row > div {
    padding:.5rem;
}
.url-row .url-name {
    width: 80%;
    min-width: 80%;
    max-width: 80%;
    border-right: 1px solid black;
}
.url-row .url-status {
    width: 10%;
}
.url-list a, .url-list .url-name {
    overflow-wrap: break-word;
}

/*.url-list .url-header-row .url-status {*/
/*    cursor: pointer;*/
/*    width:100%;*/
/*    text-align: center;*/
/*    color:#0000EE;*/
/*}*/


.url-filters {
    display:flex;
    flex-d5irection: column;

}
.url-filters button {
    /*width:100% !important;*/
    font-size:1rem;
    padding:.25rem .5rem;
    text-align:left;
    font-weight: bold;
    /*background-color: #cee1e8;*/
    min-width: 10rem;
    height:2.5rem;
}
.url-filters button.btn-pressed {
    /*background-color: #7fbfe3 !important;*/
    background-color: #95c9e5 !important;
}
.url-filters .btn-description {
    display:none;
    font-style: italic;
    font-size: smaller;
    font-weight: normal;
    padding-left:1em;
}

