:root {
    --width-filter-panel-column: 335px;
    --width-url-flock: 400px;
    --width-ref-flock: 350px;
}

.url-overview-column {
    /*overflow: hidden;*/
    width: var(--width-filter-panel-column);
    min-width: var(--width-filter-panel-column);
    height:100%;
}
.url-overview > h4 {
    color: grey;
    margin-bottom: 0;
}


.url-display-container {
    display: flex;
    flex-direction: row;
    /*height: 100vh;*/
    height: 100%;
    width: 100%;
}

.url-display-header {
    flex: 0 0 auto; /* don’t grow or shrink */
}

.url-display-contents {
    /*flex: 0 0 auto; !* don’t grow or shrink *!*/
    flex: 1 1 auto;  /* grow to fill remaining space */
    /*flex: 0 0 auto;  !* grow to fill remaining space *!*/
    /*overflow-y: auto; !* scrolls when content overflows *!*/
    /*background: #c1b4ec;*/
    width: 100%;
    xxxoverflow-x:scroll;

    margin-left: var(--iare-spacing-small);

    height: 100%;
}

/* for url display of erl flock and ref flocks */
.url-display-flocks {
    display: flex;
    width: 100%;
    max-width: 100%;
    overflow-x: auto;
    height:100%;
    gap: var(--iare-spacing-small);
}

.testcase {
    background-color: chartreuse;
    flex:1 1 auto;
}

.url-display-url-flock {
    /*flex: 1 1 auto;*/
    flex: 1 1 0;
    min-width: var(--width-url-flock);
    overflow-x: auto;
}

.url-display-ref-flock {
    flex: 0 0 var(--width-ref-flock);
    width: var(--width-ref-flock);
}
