.url-overview-column {
    /*overflow: hidden;*/
    width: var(--width-overview-column);
    min-width: var(--width-overview-column);
    height:100%;
}
.url-overview > h4 {
    color: grey;
    margin-bottom: 0;
}


.url-display-container {
    display: flex;
    flex-direction: row;
    /*height: 100vh;*/
    height: 100%;
    width: 100%;
}

.url-display-header {
    flex: 0 0 auto; /* don’t grow or shrink */
}

.url-display-contents {
    /*flex: 0 0 auto; !* don’t grow or shrink *!*/
    flex: 1 1 auto;  /* grow to fill remaining space */
    /*flex: 0 0 auto;  !* grow to fill remaining space *!*/
    /*overflow-y: auto; !* scrolls when content overflows *!*/
    /*background: #c1b4ec;*/
    width: 100%;
    overflow-x:scroll;

    margin-left: var(--iare-spacing-small);

    height: 100%;
}

