.grok-display-columns {
    display: flex;
    flex-direction: row;
}

.grok-display-columns .grok-display-section {
    /*flex-basis: 18% !important;*/
    width: 48% !important;
}


.grok-display-section-header {
    font-weight: bold;
    font-size: 1.5rem !important;
}



.grok-filter-panel {
    /*overflow: hidden;*/
    width: var(--width-filter-panel-column);
    min-width: var(--width-filter-panel-column);
    height:100%;
}
.grok-filter-panel > h4 {
    color: grey;
    margin-bottom: 0;
}

.grok-display .flock-display-contents {
    margin-left: var(--iare-spacing-small)
}

#grok-display-tooltip {
    font-size:1.25em;
    font-weight:normal;
}
