:root {
    --border-legend-entry: 1px solid transparent;
    --border-legend-selected: 1px solid #a6a6a6;
    --color-legend-selected: #e0e0e0;
}

.chart-instruction {
    font-style: italic;
    font-weight: bold;
}

.chart-legend {
    display:flex;
    /*flex-direction: row;*/
    flex-flow: row wrap;
    cursor: pointer;
}
.chart-legend .legend-entry {
    /*display: inline-block;*/
    margin-right:.65rem;
    margin-bottom:.2rem;
    /*cursor: pointer;*/
    font-size: 16px;
    color:#666666;
    border: var(--border-legend-entry);
    padding: 0pt 1.5pt 0 3pt;
}
.chart-legend .legend-entry.legend-entry-selected {
    border: var(--border-legend-selected);
    background: var(--color-legend-selected);
}

.chart-legend .legend-box,
.chart-legend .legend-label {
    display: inline-block;
    /*cursor: pointer;*/
}

.chart-legend .legend-label .lolite {
    filter: brightness(1.65);
}

.chart-legend .legend-box {
    content: none;
    position:relative;
    width:28px;
    height:14px;
    margin-right:0.3rem;
    top:.06rem;
}

