
.chart-instruction {
    font-style: italic;
    font-weight: bold;
}

.chart-legend {
    display:flex;
    /*flex-direction: row;*/
    flex-flow: row wrap;
    cursor: pointer;
}
.chart-legend .legend-entry {
    /*display: inline-block;*/
    margin-right:.65rem;
    margin-bottom:.25rem;
    /*cursor: pointer;*/
    font-size: 16px;
    color:#666666;
}
.chart-legend .legend-box,
.chart-legend .legend-label {
    display: inline-block;
    /*cursor: pointer;*/
}

.chart-legend .legend-label .lolite {
    filter: brightness(1.75);
}

.chart-legend .legend-box {
    content: none;
    position:relative;
    width:28px;
    height:14px;
    margin-right:0.3rem;
    top:.06rem;
}

