.page-data {
    display:flex;
    flex-direction: row;
    border-top:1px solid black;
    padding-top:1rem;
}
.page-data > div {
    margin-left: 1.25rem;
    /*flex: 0 0 auto;*/
}
.page-data > div:first-child {
    margin-left:0;
}

.section-box {
    /*padding:1rem;*/
    /*border:1px solid black;*/
}
.section-box h3, .section-box h4 {
    margin-top:0;
    margin-bottom:.5rem;
}


