/* style definition file for iari customizations */


/* global definitions */

:root {
    --g-color-h1-fg: #e224d8;

    --g-color-body-bg: #e5d6df;

    --g-color-list-header-fg: #f2e6f6;
    --g-color-list-header-bg: #ac82e6;

    --g-color-function-box-caption-fg: #FFFFFF;
    --g-color-function-box-caption-bg: #9b25d6;
    --g-color-function-box-caption-outline: #5e1982;
    --g-color-function-box-contents: hsl(272deg 70.97% 86.73%);

    --g-color-flock-box-caption-fg: #FFFFFF;
    --g-color-flock-box-caption-bg: #6a1794;

    --g-color-reference-display-bg: hsl(286, 47%, 84%);
    --g-color-reference-display-fg: black;
    --g-color-reference-display-selected-bg: hsl(285, 100%, 97%);

    /*--g-color-reference-display-bg: hsl(20, 65%, 82%);*/
    /*--g-color-reference-display-selected-bg: hsl(23, 28%, 89%);*/
}
