// this file is included in index.js

// Bootstrap Overrides

// Override default variables before the default bootstrap import

// $body-bg: #e6fcee;
$h2-font-size:                1rem * 1.25 !default;
$h3-font-size:                1rem * 1 !default;
$h4-font-size:                1rem * 0.85 !default;


// Import Bootstrap and its default variables

@import '~bootstrap/scss/bootstrap.scss';
