body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}

ol, ul {
    padding-left: 30px;
}

.error-display {
    display:block;
    margin-left:20px;
    margin-top:1em;
    border:1px solid #c92b2b;
    padding:.5em;
    font-weight: bold;
    font-size:1.2rem;
    color: #c92b2b;
}
.error-display-none {
    display:none;
}
.j-view {
    display: flex;
    /*flex-direction: row;*/
    flex-direction: column;
}

.j-view-file-info,
.j-view-page-info,
.j-view-clock {
    margin-left: 20px;
}

.j-view-file-info {
    padding:1rem;
    margin-top:.5rem;

    border:1px solid black;
}



/* file name input box */
.j-view-file-info #fileName {
    width:42rem;
    font-size: 1.1rem;
}

.j-view-file-info .file-shortcut {
    margin-left:10px;
}

table.single-detail {
    table-layout: fixed;
    width:24rem;
}
table.single-detail tr td:not(:first-child) {
    width:19rem;
}

table {
    border-collapse: collapse;
}
table td {
    margin:0;
    padding:4px;
    border:1px solid black;
    vertical-align: top;
}

