:root {
    --color-list-fg-selected: #054630; /*#1c654f;*/
    --color-list-bg-selected: #ceefd9; /*#c4e4c8;*/
    --color-list-fg-hover: #fffde5; /*blue;*/
    --color-list-bg-hover: #81c8e7;

    --color-list-header-bg: #cff0ff;

    --color-button-bg: #81c8e7;
    --color-button-bg-hover: white;

    --color-h3: #666666;
    --color-h4: #808080;

    /* status codes colors */
    --color-http-unknown: #000000;
    --color-http-unknown-bg: #c9cbcf;
    --color-http-success: #ffffff;
    --color-http-success-bg: #20cc1e; /*#4bc0c0; teal*/
    --color-http-redirect: #000000;
    --color-http-redirect-bg: #ffcd57;
    --color-http-notfound: #ffffff;
    --color-http-notfound-bg: #ff6384;
    --color-http-error: #FFFFFF;
    --color-http-error-bg: #f763ff;

    /* heights of lists - NB: should be dynamic */
    --height-list: 68vh;
    --height-list-pdf: 70vh;
    --border-list:1px solid black;

    --radio-button-magnify:1.35;
}

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 15px 20px 20px;
}

/* environment-tag is for non-production indication */
div.environment-tag {
    display:none;
    position:absolute;
    font-size:1.1rem;
    top:6px; /*8px;*/
    color: #b2b2b2;
    white-space: nowrap;
    z-index: 1;
}

.iare-view .header h1 {
    position:relative;
    z-index: 10;
    margin-top:0;
    margin-bottom: 0.5rem;
    padding-left:.3rem;
    font-size:2em;
    font-weight:bold;
}

body.env-production .iare-view .header h1 {
    color:#e30040;
}
body.env-other .iare-view .header h1 {
    color:red;
}
.version-display {
    font-size: .7em;
    font-weight: normal;
    color: grey;
}
.version-display span.non-production {
    font-size: .8em;
}
body.env-production .version-display span.non-production {
    display:none;
}
body.env-other .version-display span.non-production {
    display:inherit;
}

.debug-on {
    display: block;
    border: 1px black solid;
    padding: 0.5rem 1rem 0;
    background: #2f357d;
    color: white;
}
.debug-on a {
    color:lightskyblue;
}
.debug-on button {
    margin-bottom:.75rem;
}

.debug-off {
    display:none;
}
.debug-info {
    font-style: italic;
    color:#8191a4;
}
.debug-button, .more-button {
    border-radius: 0.75rem;
    background-color: #dadffd;
    padding:0em .5em 0.18em;
    color: #454545;
    border: 1px solid black;
    font-size: .75rem;
}
.more-button {
    background-color: transparent;
    border:none;
    text-decoration: underline;
    color:grey;
}
.debug-on .debug-button {
    background-color: #c9e3f9;
}

/* GENERAL ELEMENTS */

.detail-show {
    display:inherit;
    margin-bottom:1rem;
}
.detail-hide {
    display:none;
}
ol, ul {
    padding-left: 30px;
}

table {
    border-collapse: collapse;
}
table td {
    margin:0;
    padding:4px;
    border:1px solid black;
    vertical-align: top;
}


.error-display {
    display:block;
    margin-left:20px;
    margin-top:1em;
    border:1px solid #c92b2b;
    padding:.5em;
    font-weight: bold;
    font-size:1.2rem;
    color: #c92b2b;
}
.error-display-none {
    display:none;
}
.error-viz{
    border:1px solid #c92b2b;
    padding:.5em;
    font-weight: bold;
    font-size:1.2rem;
    color: #c92b2b;
}

table.single-detail {
    table-layout: fixed;
    width:24rem;
}
table.single-detail tr td:not(:first-child) {
    width:19rem;
}


.iare-view {
    display: flex;
    flex-direction: column;
}
.iare-view h3 {
    color:var(--color-h3);
}
.iare-view h4 {
    color:var(--color-h4);
}


.iare-view .path-fetch {
    padding:1rem;
    padding-bottom:0;
    margin-top:.5rem;
    margin-bottom:.25rem;

    border:1px solid black;
}
.path-fetch-wrap {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: .5rem;
}
.path-fetch #pathInput {
    width:33rem;
    font-size: .9rem;
    padding: 2pt 2pt 2pt 4pt;
    border:1px solid dimgrey;
}
.path-fetch #pathInput::placeholder {
    color: #a0a0a0;
}

.path-input-wrapper {
    marginBottom: .5rem;
    display:contents;
}

@media screen and (max-width: 800px) {
    /*.path-input-wrapper {*/
    /*    marginBottom: .5rem;*/
    /*    display:contents;*/
    /*}*/

    .path-fetch #pathInput {
        width:100%;
    }
}

.path-fetch #pathInput-label {
    color:dimgrey;
    margin-right:.25em;
    font-size:.9rem;
    padding-top: 0.175rem;
}

.path-fetch-wrap button {
    margin-top:.35em;
}

.path-fetch-wrap .chk-force-refresh {
    margin-top:.65em;
}

.path-fetch .path-shortcut {
    margin-left:10px;
}

.path-fetch-wrap .chk-force-refresh {
    margin-left: .5rem;
    margin-right: .25rem;
}

.iare-view .header {
    display: flex;
    flex-direction: column;
}
.iare-view .header-contents {
    display:flex;
    flex-direction:row;
    flex-wrap:wrap
}
.status-check-methods-wrapper {
    display:block;
}
.status-check-methods {
    display: flex;
    flex-direction: row;
    font-size:.9rem;
    /*padding-bottom:.5rem;*/
    margin-left:2rem;
    margin-top:.45rem;
}

/*-ms-transform: scale(var(--radio-button-magnify)); !* IE 9 *!*/
/*-webkit-transform: scale(1.5); !* Chrome, Safari, Opera *!*/
/*transform: scale(1.5);*/
/*margin-right:.23rem;*/

.status-check-methods input[type="radio"]{
    -ms-transform: scale(var(--radio-button-magnify)); /* IE 9 */
    -webkit-transform: scale(var(--radio-button-magnify)); /* Chrome, Safari, Opera */
    transform: scale(var(--radio-button-magnify));
    margin-right:.23rem;
}
.status-check-methods > div {
    margin-left: .8rem;
    /*flex: 0 0 auto;*/
}
.status-check-methods > div:first-child {
    margin-left:0;
}


button.utility-button {
    border-radius: 0.75rem;
    background-color: #dadffd;
    margin-left:.75rem;
    padding:0em .5em 0.18em;
    color: #454545;
    border: 1px solid black;
    font-size: .75rem;
}