:root {
    --width-url-list-pdf: 28rem;
    --width-url-name-pdf: 20rem;
    --width-url-source-pdf: 3rem;
    --width-url-status-pdf: 3rem;

}

.iari-v2-pdf .url-flock {
    max-width: var(--width-url-list-pdf);
}
.iari-v2-pdf .url-row .url-name {
    width: var(--width-url-name-pdf);
    min-width: var(--width-url-name-pdf);
    max-width: var(--width-url-name-pdf);
}
.iari-v2-pdf .url-row .url-source {
    width: var(--width-url-source-pdf);
    border-right: var(--border-list);
    text-align: center;
}
.iari-v2-pdf .url-row .url-status {
    width: var(--width-url-status-pdf);
}


.pdf-link-origin {
    margin-top:2rem;
}
.pdf-link-origin .origin-choices input[type="checkbox"] {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin-right:.5rem;
    /*transform: translateX(2em);*/
    margin-left:.5em;
}
.pdf-link-origin .origin-choices label {
    font-size: .85rem;
    margin-bottom: .4rem;

}
/*.view-options-selection input[type="radio"]{*/
